# Python Basics

## 1. Individual things

The most basic component of any programming language are "things", also called variables or
(in special cases) objects.

The most common basic "things" in Python are integers, floats, strings, booleans, and
some special objects of various types. We'll meet many of these as we go through the lesson.

This is a **Jupyter Notebook**, that we'll use for all the python tutorials.<br>
The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text.<br>
It is more readable and better to create notes.

__TIP:__ To run the code in a cell quickly, press Ctrl+Enter.

__TIP:__ To run the code in a cell and move to next cell, press Shift+Enter

In [1]:
# A thing
2

2

In [2]:
# Use print to show multiple things in the same cell
# Note that you can use single or double quotes for strings
print(2)
print('hello')

2
hello

In [3]:
# Things can be stored as variables
a = 2
b = 'hello'
c = True  # This is case sensitive
print(a, b, c)

2 hello True

In [5]:
# The type function tells us the type of a variable we have
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'bool'>

In [6]:
# What happens when a new variable point to a previous variable?
a = 1
b = a
a = 2
## What is b?
print(a,b)

2 1

In [8]:
a= 3
b=4 
a,b = b,a  # program to swap two variables in just one line "in Python"
print(a,b)

4 3


## 2. Commands that operate on things

Just storing data in variables isn't much use to us. Right away, we'd like to start performing
operations and manipulations on data and variables.

There are three very common means of performing an operation on a thing.

### 2.1 Use an operator

All of the basic math operators work like you think they should for numbers. They can also
do some useful operations on other things, like strings. There are also boolean operators that
compare quantities and give back a `bool` variable as a result.

In [10]:
# Standard math operators work as expected on numbers
a = 5
b = 2
print(a + b)
print(a * b)
print(a ** b)  # a to the power of b (a^b does something completely different!)
print(a / b)   # always return float type variable
print(a//b)    # always return the integer part of the answer (also called floor division)

7
10
25
2.5
2

In [11]:
# There are also operators for strings
print('hello' + 'world')
print('hello' * 3)
#print('hello' / 3)  # You can't do this!

helloworld
hellohellohello

In [12]:
# Boolean operators compare two things
a = (1 > 3)
b = (3 == 3)
print(a)
print(b)
print(a or b)
print(a and b)

False
True
True
False

### 2.2 Use a built-in function

These will be very familiar to anyone who has programmed in any language, and work like you
would expect.

In [13]:
# There are thousands of functions that operate on things
print(type(3))
print(len('hello'))
print(round(3.3)) # to get the round off

<class 'int'>
5
3

__TIP:__ To find out what a function does, you can type it's name and then a question mark and press Ctrl+Enter to
get a pop up help window.

In [15]:
round?

In [16]:
round(3.14159, 2)

3.14

### 2.3 Use a method

Before we get any farther into the Python language, we have to say a word about "objects". We
will not be teaching object oriented programming in this workshop, but you will encounter objects
throughout Python (in fact, even seemingly simple things like ints and strings are actually
objects in Python).

In the simplest terms, you can think of an object as a small bundled "thing" that contains within
itself both data and functions that operate on that data. For example, strings in Python are
objects that contain a set of characters and also various functions that operate on the set of
characters. When bundled in an object, these functions are called "methods".

Instead of the "normal" `function(arguments)` syntax, methods are called using the
syntax `variable.method(arguments)`.

In [18]:
# A string is actually an object
a = 'hello, world'
print(type(a))

<class 'str'>

In [19]:
# Objects have bundled methods
#a.
print(a.capitalize())
print(a.replace('l', 'X'))

Hello, world
heXXo, worXd

## 3. Collections of things (built-in Data Structures)

While it is interesting to explore your own height, in science we work with larger  slightly more complex datasets. In this example, we are interested in the characteristics and distribution of heights. Python provides us with a number of objects to handle collections of things.

Probably 99% of your work in scientific Python will use one of four types of collections:
`lists`, `tuples`, `dictionaries`, and `numpy arrays`. We'll look quickly at each of these and what
they can do for you.

### 3.1 Lists

Lists are probably the handiest and most flexible type of container. 

Lists are declared with square brackets []. 

Individual elements of a list can be selected using the syntax `a[ind]`.

In [24]:
# Lists are created with square bracket syntax
a = ['blueberry', 'strawberry', 'pineapple']
print(a, type(a))

['blueberry', 'strawberry', 'pineapple'] <class 'list'>

In [25]:
# Lists (and all collections) are also indexed with square brackets
# NOTE: The first index is zero, not one
print(a[0])
print(a[1])

blueberry
strawberry

In [26]:
## You can also count from the end of the list
print('last item is:', a[-1])
print('second to last item is:', a[-2])

last item is: pineapple
second to last item is: strawberry

In [27]:
# you can access multiple items from a list by slicing, using a colon between indexes
# NOTE: The end value is not inclusive
print('a =', a)
print('get first two:', a[0:2])

a = ['blueberry', 'strawberry', 'pineapple']
get first two: ['blueberry', 'strawberry']

In [28]:
# You can leave off the start or end if desired
print(a[:2])
print(a[2:])
print(a[:])
print(a[:-1])

['blueberry', 'strawberry']
['pineapple']
['blueberry', 'strawberry', 'pineapple']
['blueberry', 'strawberry']

In [31]:
# Lists are objects, like everything else, and have methods such as append
a.append('banana')
print(a)

a.append([1,2])  # list can store multiple data types
print(a)

a.pop()  # to remove an element from the last
print(a)

a.pop(0)  # to remove an element at index=0
print(a)

['blueberry', 'strawberry', 'pineapple', 'banana', 'banana', 'banana']
['blueberry', 'strawberry', 'pineapple', 'banana', 'banana', 'banana', [1, 2]]
['blueberry', 'strawberry', 'pineapple', 'banana', 'banana', 'banana']
['strawberry', 'pineapple', 'banana', 'banana', 'banana']

# __TIP:__ A 'gotcha' for some new Python users is that many collections, including lists,
actually store pointers to data, not the data itself. 

Remember when we set `b=a` and then changed `a`?

What happens when we do this in a list?

In [32]:
a = 1
b = a
a = 2
## What is b?
print('What is b?', b)

a = [1, 2, 3]
b = a
print('original b', b)
a[0] = 42
print('What is b after we change a ?', b)

What is b? 1
original b [1, 2, 3]
What is b after we change a ? [42, 2, 3]

### 3.2 Tuples

We won't say a whole lot about tuples except to mention that they basically work just like lists, with
two major exceptions:

1. You declare tuples using () instead of []
1. Once you make a tuple, you can't change what's in it (referred to as immutable)

You'll see tuples come up throughout the Python language, and over time you'll develop a feel for when
to use them. 

In general, they're often used instead of lists:

1. to group items when the position in the collection is critical, such as coord = (x,y)
1. when you want to make prevent accidental modification of the items, e.g. shape = (12,23)

In [33]:
xy = (23, 45)
print(xy[0])
xy[0] = "this won't work with a tuple"

23

TypeError: ignored

### Anatomy of a traceback error

Traceback errors are `raised` when you try to do something with code it isn't meant to do.  It is also meant to be informative, but like many things, it is not always as informative as we would like.

Looking at our error:

    TypeError                                 Traceback (most recent call last)
    <ipython-input-25-4d15943dd557> in <module>()
          1 xy = (23, 45)
          2 xy[0]
    ----> 3 xy[0] = 'this wont work with a tuple'

    TypeError: 'tuple' object does not support item assignment
    
1. The command you tried to run raise a **TypeError**  This suggests you are using a variable in a way that its **Type** doesnt support
2. the arrow ----> points to the line where the error occurred, In this case on line 3 of your code form the above line.
3. Learning how to **read** a traceback error is an important skill to develop, and helps you know how to ask questions about what has gone wrong in your code.

### 3.3 Dictionaries

Dictionaries are the collection to use when you want to store and retrieve things by their names
(or some other kind of key) instead of by their position in the collection. A good example is a set
of model parameters, each of which has a name and a value. Dictionaries are declared using {}.

In [34]:
# Make a dictionary of model parameters
convertors = {'inches_in_feet' : 12,
              'inches_in_metre' : 39}

print(convertors)
print(convertors['inches_in_feet'])

{'inches_in_feet': 12, 'inches_in_metre': 39}
12

In [35]:
## Add a new key:value pair
convertors['metres_in_mile'] = 1609.34
print(convertors)

{'inches_in_feet': 12, 'inches_in_metre': 39, 'metres_in_mile': 1609.34}

In [36]:
# Raise a KEY error
print(convertors['blueberry'])

KeyError: ignored

__Some commonly used methods of dictionaries__

In [49]:
print("Keys in Converters:  ", convertors.keys())
print("Values in Converters:  ", convertors.values())
print("Items in Converters:  ", convertors.items())

Keys in Converters:   dict_keys(['inches_in_feet', 'inches_in_metre', 'metres_in_mile'])
Values in Converters:   dict_values([12, 39, 1609.34])
Items in Converters:   dict_items([('inches_in_feet', 12), ('inches_in_metre', 39), ('metres_in_mile', 1609.34)])

This means blueberry is not a key inside this dictionary

### 3.4 Sets

Sets is a collection of unique elements, also it is immutable. It is also an unordered data structure. No matter in what order you add the values in the set, it will always show the values in any random order.

In [50]:
s = {1, 2, 3}
print(s, type(s))

s = {1, 1, 2, 2, 3, 3} # it will take each element once

print(s, type(s))

{1, 2, 3} <class 'set'>
{1, 2, 3} <class 'set'>

In [52]:
# s[0] = 0   you can't do this as set is immutable

__Some common methods of sets__

In [54]:
s.add('a')
print(s)

s.remove('a')
print(s)

{1, 2, 3, 'a'}
{1, 2, 3}

Also you can use any set method, like union, intersection  etc that you have learnt in mathematics.

In [58]:
s2 = {3,8,9}

print("Union:  ",s.union(s2))

print("Intersection:  ", s.intersection(s2))

Union:   {1, 2, 3, 8, 9}
Intersection:   {3}

## 4. Repeating yourself - Loops in Python

So far, everything that we've done could, in principle, be done by hand calculation. In this section
and the next, we really start to take advantage of the power of programming languages to do things
for us automatically.

We start here with ways to repeat yourself. The two most common ways of doing this are known as for
loops and while loops. For loops in Python are useful when you want to cycle over all of the items
in a collection (such as all of the elements of an array), and while loops are useful when you want to
cycle for an indefinite amount of time until some condition is met.

The basic examples below will work for looping over lists, tuples, and arrays. Looping over dictionaries
is a bit different, since there is a key and a value for each item in a dictionary. Have a look at the
Python docs for more information.

In [37]:
# A basic for loop - don't forget the white space(the indentation)!
wordlist = ['hi', 'hello', 'bye']
for word in wordlist:
    print(word + '!')

hi!
hello!
bye!

**Note on indentation**: Notice the indentation once we enter the for loop.  Every idented statement after the for loop declaration is part of the for loop.  This rule holds true for while loops, if statements, functions, etc. Required identation is one of the reasons Python is such a beautiful language to read.

If you do not have consistent indentation you will get an `IndentationError`.  Fortunately, most code editors will ensure your indentation is correction.

__NOTE__ In Python the default is to use four (4) spaces for each indentation, most editros can be configured to follow this guide.

In [38]:
# Indentation error: Fix it!
for word in wordlist:
    new_word = word.capitalize()
   print(new_word + '!') # Bad indent

IndentationError: ignored

In [39]:
# Sum all of the values in a collection using a for loop
numlist = [1, 4, 77, 3]

total = 0
for num in numlist:
    total = total + num
    
print("Sum is", total)

Sum is 85

In [40]:
# Often we want to loop over the indexes of a collection, not just the items
print(wordlist)

for i, word in enumerate(wordlist):
    print(i, word, wordlist[i])

['hi', 'hello', 'bye']
0 hi hi
1 hello hello
2 bye bye

In [41]:
# While loops are useful when you don't know how many steps you will need,
# and want to stop once a certain condition is met.
step = 0
prod = 1
while prod < 100:
    step = step + 1
    prod = prod * 2
    print(step, prod)
    
print('Reached a product of', prod, 'at step number', step)

1 2
2 4
3 8
4 16
5 32
6 64
7 128
Reached a product of 128 at step number 7

__TIP:__ Once we start really generating useful and large collections of data, it becomes unwieldy to
inspect our results manually. The code below shows how to make a very simple plot of an array.
We'll do much more plotting later on, this is just to get started.

## 5. Making choices  (Conditional Statements in Python)

Often we want to check if a condition is True and take one action if it is, and another action if the
condition is False. We can achieve this in Python with an if statement.

__TIP:__ You can use any expression that returns a boolean value (True or False) in an if statement.
Common boolean operators are ==, !=, <, <=, >, >=. You can also use `is` and `is not` if you want to
check if two variables are identical in the sense that they are stored in the same location in memory.

In [42]:
# A simple if statement
x = 3
if x > 0:
    print('x is positive')
elif x < 0:
    print('x is negative')
else:
    print('x is zero')

x is positive

In [43]:
# If statements can rely on boolean variables
x = -1
test = (x > 0)
print(type(test)); print(test)

if test:
    print('Test was true')

<class 'bool'>
False

### Some commonly used Built-in Functions

**TYPECASTING int()  float()  str()  bool()  list()  tuple()  dict()  set()**

In [44]:
i = 8
print(i, type(i))
i = float(i)   # changes the type of a vairaible to float (if possible)
print(i, type(i))

8 <class 'int'>
8.0 <class 'float'>

In [45]:
s = 'hello'
 # float(s)  you can't do this as string cannot be converted to float

In [46]:
l = ['a', 'b', 1, 2, 3]
print(l, type(l))

l = tuple(l)
print(l, type(l))

['a', 'b', 1, 2, 3] <class 'list'>
('a', 'b', 1, 2, 3) <class 'tuple'>

**len(), sum(), max(), min()**

In [59]:
l=[1, 2, 4]
s = {1, 2, 3}
d= {1:2, 3:4}
print(len(l), len(s), len(d))  # returns the length

3 3 2

In [60]:
print(sum(l), sum(s))   # return sum

7 6

In [61]:
print(max(l), max(s))   # returns maximum element

4 3

In [62]:
print(min(l), min(s))   # returns minimum element

1 1

**type()**

In [63]:
print(type(l), type(s), type(d))

<class 'list'> <class 'set'> <class 'dict'>

**any()  all()**

__any()__  -  I there any True in the collection<br>
__all()__  -  Is there all True in the collection

In [65]:
print(any(l), all(l))

ll = [1, 2, 0]    # 0 always considered as False
print(any(ll), all(ll))

lll = [True, True, False]
print(any(lll), all(lll))

True True
True False
True False

**eval()**

To evaluate expressions in python

In [66]:
x = 2
print(eval("x**2 + 2*x + 2"))

10

**zip()**

Index wise merging multiple collection

In [68]:
l = [1,2,3]
ll = ['a', 'b', 'c']
print(zip(l, ll)) # not in readable format  (Need to typecast into list)

<zip object at 0x7fa7b1ffd608>

In [69]:
print(list(zip(l, ll)))

[(1, 'a'), (2, 'b'), (3, 'c')]

**range()**

Creates a sequence

In [70]:
print(list(range(5)))
print(list(range(2,10)))

[0, 1, 2, 3, 4]
[2, 3, 4, 5, 6, 7, 8, 9]

## 6. Creating chunks with functions and modules

One way to write a program is to simply string together commands, like the ones described above, in a long
file, and then to run that file to generate your results. This may work, but it can be cognitively difficult
to follow the logic of programs written in this style. Also, it does not allow you to reuse your code
easily - for example, what if we wanted to run our logistic growth model for several different choices of
initial parameters?

The most important ways to "chunk" code into more manageable pieces is to create functions and then
to gather these functions into modules, and eventually packages. Below we will discuss how to create
functions. A third common type of "chunk" in Python is classes, but we will not be covering
object-oriented programming in this notebook.

In [71]:
# It's very easy to write your own functions
def multiply(x, y):
    return x*y

In [72]:
# Once a function is "run" and saved in memory, it's available just like any other function
print(type(multiply))
print(multiply(4, 3))

<class 'function'>
12

In [73]:
# It's useful to include docstrings to describe what your function does
def say_hello(time, people):
    '''
    Function says a greeting. Useful for engendering goodwill
    '''
    return 'Good ' + time + ', ' + people

**Docstrings**: A docstring is a special type of comment that tells you what a function does.  You can see them when you ask for help about a function.

Or you can use __doc__ method with the function name to see the docstring

In [75]:
say_hello.__doc__

'\n    Function says a greeting. Useful for engendering goodwill\n    '

In [76]:
say_hello('afternoon', 'friends')

'Good afternoon, friends'

In [77]:
# All arguments must be present, or the function will return an error
say_hello('afternoon')

TypeError: ignored

In [78]:
# Keyword arguments can be used to make some arguments optional by giving them a default value
# All mandatory arguments must come first, in order
def say_hello(time, people='friends'):
    return 'Good ' + time + ', ' + people

In [79]:
say_hello('afternoon')

'Good afternoon, friends'

In [80]:
say_hello('afternoon', 'students')

'Good afternoon, students'